<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Your name">
<meta name="keywords" content="Carnegie Mellon University, Information Systems">
<meta name="description" content="Duquesne Incline Website">
<title>Your name</title>
<link rel="stylesheet" href="../static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <a href = "/index.html" >Explore Duquesne</a>
            <a href = "visit.html" >Plan Your Visit</a>
            <a href = "history.html" >History</a>
            <a href = "shop.html" >Gift Shop</a>
            <a href = "event.html" >Events</a>
            <a href = "contact.html" >Contact Us</a>
        </nav>
        <h1>
            Take Home a Piece of History        </h1>
    </header>
</body>
</html>